<ion-view>
  <ion-nav-title>
    <a style="font-size: 20px">More Random Values</a>
  </ion-nav-title>

  <ion-content ng-controller="randomController">
    <ion-list>
      <ion-item>
        <h2>Need some more random values?</h2>
      </ion-item>

      <!-- menu for different random value types -->
      <ion-list class="list-item ">
        <ion-radio ng-click="menuSelection(0)" icon="hide">Random Integer</ion-radio>
        <ion-radio ng-click="menuSelection(1)" icon="hide">Random Binary String</ion-radio>
        <ion-radio ng-click="menuSelection(2)" icon="hide">Random Hexadecimals</ion-radio>
      </ion-list>

    </ion-list>

      <!-- get random integer -->
      <div id="randomInt">
        <div class="card">
          <div class="list">
            <div class="item range">
              <div class="range-label">min</div>
              <input type="range"
                     min="0"
                     max="{{randoms.getInt.minValue}} - 2"
                     data-ng-model="randoms.getInt.minValue">
              {{randoms.getInt.minValue}}
            </div>
            <div class="item range">
              <div class="range-label">max</div>
              <input type="range"
                     min="{{randoms.getInt.minValue}}"
                     max="100"
                     data-ng-model="randoms.getInt.maxValue">
              {{randoms.getInt.maxValue}}
            </div>
            <button class="button button-assertive randomButton" ng-click="getInt()">
              Get Integer Between {{randoms.getInt.minValue}} And {{randoms.getInt.maxValue}}
            </button>
          </div>
        </div>
      </div>

      <!-- get binary string -->
      <div id="randomBin">
        <div class="card">
          <div class="list">
            <div class="item range">
              <div class="range-label"># bits:</div>
              <input type="range"
                     min="16"
                     max="256"
                     step="16"
                     data-ng-model="randoms.getBinary.quantity">
              {{randoms.getBinary.quantity}}
            </div>
            <button class="button button-assertive randomButton" ng-click="getBinary()">
              Get {{randoms.getBinary.quantity}} Binary Values
            </button>
          </div>
        </div>
      </div>


      <!-- get hex values -->
      <div id="randomHex">
        <div class="card">

          <div class="list">
            <div class="item range">
              <div class="range-label"># hex values</div>
              <input type="range"
                     min="2"
                     max="100"
                     step="2"
                     data-ng-model="randoms.getHex.quantity">
              {{randoms.getHex.quantity}}
            </div>
            <button class="button button-assertive randomButton" ng-click="getHex()">
              Get {{randoms.getHex.quantity}} Hexadecimal Values
            </button>
          </div>
        </div>
      </div>




  </ion-content>

</ion-view>
