
<ion-view>
<ion-nav-title>
  <a style="font-size: 20px">More Random Values</a>
</ion-nav-title>

  <ion-content ng-controller="randomController">
    <ion-list>
      <ion-item>
        <h2>Need some more random values?</h2>
      </ion-item>

      <!-- menu for different random value types -->
      <ion-list class="list-item">
        <ion-radio ng-click="menuSelection(0)" icon="hide">Random Integer</ion-radio>
        <ion-radio ng-click="menuSelection(1)" icon="hide">Random Binary String</ion-radio>
        <ion-radio ng-click="menuSelection(2)" icon="hide">Random Hexadecimals</ion-radio>
      </ion-list>


      <!-- get random integer -->
      <ion-item id="randomInt">
        <button class="button button-block button-assertive" ng-click="getInt()">Random Number</button>
        <div class="list">
          <div class="item range">
            <div class="range-label">0</div>
            <input type="range"
                   min="1"
                   max="100"
                   data-ng-model="randoms.getInt.maxValue">
            {{randoms.getInt.maxValue}}
          </div>
        </div>
      </ion-item>

      <!-- get binary string -->
      <ion-item id="randomBin">
        <button class="button button-block button-assertive" ng-click="getBinary()">Random Binary String</button>
        <div class="list">
          <div class="item range">
            <div class="range-label"># bits:</div>
            <input type="range"
                   min="16"
                   max="256"
                   step="16"
                   data-ng-model="randoms.getBinary.quantity">
            {{randoms.getBinary.quantity}}
          </div>
        </div>
      </ion-item>


      <!-- get hex values -->
      <ion-item id="randomHex">
        <button class="button button-block button-assertive" ng-click="getHex()">Random Hexadecimals</button>
        <div class="list">
          <div class="item range">
            <div class="range-label"># hex values</div>
            <input type="range"
                   min="2"
                   max="100"
                   step="2"
                   data-ng-model="randoms.getHex.quantity">
            {{randoms.getHex.quantity}}
          </div>
        </div>
      </ion-item>



    </ion-list>


  </ion-content>

</ion-view>
