/* init view with all hidden  */
#randomInt, #randomBin, #randomHex {
  display: none;
  position: absolute;
  width: 100%;
}
.randomButton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: 80%;
}
